# Ignore (files stored at) a given path
/prepared_data

# Ignore files with a special ending (or content)
*__pycache__*
/pommesdata/.ipynb_checkpoints/
*.idea
*.vscode
*start_jupyter*
*.aux
*.bcf
*.lof
*.out
*.run.xml
*.toc
*~
*.gurobi.*
*.pyomo.*
*.tmp
*.log
*.lp
*ee_powerplants_*
*when2heat*